@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

body {
  margin: 0;
  font-family: 'Passion One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Passion One', cursive;
}
